version: '3.9'
services:
    db:
        container_name: db-invest
        image: mysql:8.0.31
        command: ["--default-authentication-plugin=mysql_native_password"]
        ports:
            - "${MYSQL_PORT}:3306"
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        volumes:
            - ./docker/.db:/var/lib/mysql

    php:
        container_name: php-invest
        build:
            context: ./docker/php-fpm
            args:
                PHP_XDEBUG_MODE: ${PHP_XDEBUG_MODE}
                PHP_XDEBUG_CLIENT_PORT: ${PHP_XDEBUG_CLIENT_PORT}
                PHP_XDEBUG_CLIENT_HOST: ${PHP_XDEBUG_CLIENT_HOST}
                SYMFONY_CLI_VERSION: 4.27.4
        ports:
            - "${PHP_PORT}:9001"
        volumes:
            - ./symfony:/var/www/symfony:cached
            - ./docker/logs/symfony:/var/www/symfony/var/log:cached
        depends_on:
            - db

    phpmyadmin:
        container_name: phpmyadmin-invest
        image: phpmyadmin:5.2.0
        environment:
            - PMA_HOST=db
            - PMA_USER=root
            - PMA_PASSWORD=${MYSQL_ROOT_PASSWORD}
        ports:
            - "${PHPMYADMIN_PORT}:80"

    nginx:
        container_name: nginx-invest
        build: 
            context: ./docker/nginx
            args:
                NGINX_SYMFONY_SERVER_NAME: ${NGINX_SYMFONY_SERVER_NAME}
                KIBANA_PORT: ${KIBANA_PORT}
        ports:
            - "${NGINX_PORT}:80"
        depends_on:
            - php
        environment:
            - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
            - NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates
            - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.template
            - NGINX_SYMFONY_SERVER_NAME=${NGINX_SYMFONY_SERVER_NAME}
        volumes:
            - ./docker/logs/nginx:/var/log/nginx:cached
            - ./symfony:/var/www/symfony:cached

    elasticsearch:
        container_name: elk-invest
        image: docker.elastic.co/elasticsearch/elasticsearch:8.5.1
        environment:
            discovery.type: "single-node"
            xpack.security.enabled: 'false'
        ports:
            - "${ELASTICSEARCH_PORT}:9200"

    logstash:
        container_name: logstash-invest
        image: docker.elastic.co/logstash/logstash:8.5.1
        depends_on:
            - elasticsearch
        volumes:
            - ./docker/elk/logstash/pipelines.yml:/usr/share/logstash/config/pipelines.yml:cached
            - ./docker/elk/logstash/conf.d:/etc/logstash/conf.d:cached
            - ./docker/logs/symfony:/var/www/symfony/var/log:cached
            - ./docker/logs/nginx:/var/log/nginx:cached

    kibana:
        container_name: kibana-invest
        depends_on:
            - elasticsearch
        image: docker.elastic.co/kibana/kibana:8.5.1
        environment:
            SERVER_NAME: localhost
            ELASTICSEARCH_HOSTS: http://elasticsearch:9200
        ports:
            - "${KIBANA_PORT}:5601"
